$navbar-default-bg: gray;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: bold;
}

#logo:hover {
    color: red;
    text-decoration: none;
}

.center {
    text-align: center;
    letter-spacing: 0.7em;

}

.jumbotron h1 {
    letter-spacing: 0.3em;
}

.btn-xlarge {
    box-shadow: 0 0 10px 4px #34495e;
    background-color: black;
}

.navbar {
    box-shadow: 0 0 10px 4px #34495e;
    letter-spacing: 0.2em;
}

.navbar:hover {
    color: red;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    color: black
}

footer:hover {
    color: red;
}

footer ul {
    float: left;
}

.row {
    letter-spacing: 0.2em;
    text-align: center;
}

